html{
   font-size: 16px;
}
body {
   background-color: #131313;
   color: deeppink;
   text-align: center;
   font-family: monospace;
}
.flex {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
nav a {
   padding: 10px 15px;
   color: yellow;
}
nav a:hover {
   transition: .3s ease-in-out;
   color: greenyellow;
}
h1 {
   font-size: 5em;
}
a {
   text-decoration: none;
}
p {
   font-size: 1em;
   color: red;
   width: 60%;
   margin: 0 auto;
}
ul{
   list-style-type: none;
   list-style-position: outside;
   padding: 0;
}
